@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Directory</h1>

@section SideMenuHeaderText { Directory Menu }

@section SideMenuLinks {
    <a href="#">Show Faculty</a>
    <a href="#">Show Staff</a>
    <a href="#">Show something else.</a>
    <select class="form-control">
        <option>A-C</option>
        <option>D-F</option>
        <option>G-H</option>
        <option>I-K</option>
    </select>    
    
}

@section scripts {
    <script>
    $(function() {
        $("#directorylink").addClass("active");
    });
    </script>
}