@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@section styles {
    <style>
        h1{ color: rgb(98,98,98); }
        body{
            background: #0a304e;
            /*background: #626262;*/
        }

        .grid {
            margin: 2em 0; /* allow some scroll space to allow grid items to appear above the navbar.*/
        }

        .grid-item {
            float: left;          
            margin-bottom: 2em;
            user-select: none;
            -webkit-user-select: none;
            

            -webkit-box-shadow: 0px 0px 40px 6px rgba(98,98,98,0.88);
            -moz-box-shadow: 0px 0px 40px 6px rgba(98,98,98,0.88);
            box-shadow: 0px 0px 40px 6px rgba(98,98,98,0.88);

        }
        img.thumbnail-vertical {
            width: 300px;
        }

        img.thumbnail-horizontal {
            width: 450px;
        }

        .grid-item figure
        {
            cursor: pointer;
            margin-bottom: 0;
        }
        .grid-item figure figcaption {
            background: #bfbfbf;
            padding: 10px;
            color: #0a304e;
            cursor: default;
            border-top: 0.1em solid #0a304e;
        }
        #actionbtns {}
    </style>
}

<h1>Alumni</h1>

<div id="actionbtns" class="btn-group" role="group" aria-label="Filtering buttons">
    <button type="button" class="btn btn-secondary filterbtn" data-low-year-filter="1950" data-high-year-filter="1960">1950</button>
    <button type="button" class="btn btn-secondary filterbtn" data-low-year-filter="1970" data-high-year-filter="1980">1970</button>
    <button type="button" id="datesortbtn" class="btn btn-secondary">Date Sort</button>
    <button type="button" id="randomizebtn" class="btn btn-secondary">Shuffle</button>
</div>



<div class="grid">
    <div class="grid-item" data-datesort="1/1/1907">
        <figure>
            <a href="~/images/Wall/1907Wall.jpg" title="Class of 1907"><img class="thumbnail-vertical" src="~/images/Thumbnails/1907Thumb.jpg" /> </a>
            <figcaption>Class of 1907</figcaption>
        </figure>
    </div>

    <div class="grid-item" data-datesort="1/1/1952">
        <figure>
            <a href="~/images/Wall/1952Wall.jpg" title="Class of 1952"><img class="thumbnail-horizontal" src="~/images/Thumbnails/1952Thumb.jpg" /></a>
            <figcaption>Class of 1952</figcaption>
        </figure>
    </div>

    <div class="grid-item evenitem" data-datesort="1/1/1929">
        <figure>
            <a href="~/images/Wall/1929Wall.jpg" title="Class of 1929"><img class="thumbnail-vertical" src="~/images/Thumbnails/1929Thumb.jpg" /></a>
            <figcaption>Class of 1929</figcaption>
        </figure>
    </div>
    <div class="grid-item odditem" data-datesort="1/1/1974">
        <figure>
            <a href="~/images/Wall/1974Wall.jpg" title="Class of 1974"><img class="thumbnail-vertical" src="~/images/Thumbnails/1974Thumb.jpg" /></a>
            <figcaption>Class of 1974</figcaption>
        </figure>
    </div>       

    <div class="grid-item evenitem" data-datesort="1/2/2003">
        <figure>
            <a href="~/images/Wall/2003-2004-Grad-Wall.jpg" title="Class of 2003-2004 Graduates"><img class="thumbnail-vertical" src="~/images/Thumbnails/2003-2004-Grad-Thumb.jpg" /></a>
            <figcaption>Class of 2003-2004 Graduates</figcaption>
        </figure>
    </div>

    <div class="grid-item evenitem" data-datesort="1/1/1951">
        <figure>            
            <a href="~/images/Wall/1951Wall.jpg" title="Class of 1951"><img class="thumbnail-horizontal" src="~/images/Thumbnails/1951Thumb.jpg" /></a>
            <figcaption>Class of 1951</figcaption>
        </figure>
    </div>


    <div class="grid-item odditem" data-datesort="1/1/2004">
        <figure>
            <a href="~/images/Wall/2004-2005-BSN-Wall.jpg" title="Class of 2004-2005 BSN"><img class="thumbnail-vertical" src="~/images/Thumbnails/2004-2005-BSN-Thumb.jpg" /></a>
            <figcaption>Class of 2004-2005 BSN</figcaption>
        </figure>
        
    </div>
    <div class="grid-item imageitem" data-datesort="1/2/2004">
        <figure>
            <a href="~/images/Wall/2004-2005-Grad-Wall.jpg" title="Class of 2004-2005 Graduates"><img class="thumbnail-vertical" src="~/images/Thumbnails/2004-2005-Grad-Thumb.jpg" /></a>
            <figcaption>Class of 2004-2005 Graduates</figcaption>
        </figure>        
    </div>

    <div class="grid-item" data-datesort="1/1/1955">
        <figure>
            <a href="~/images/Wall/1955Wall.jpg" title="Class of 1955"><img class="thumbnail-horizontal" src="~/images/Thumbnails/1955Thumb.jpg" /></a>
            <figcaption>Class of 1955</figcaption>
        </figure>
    </div>

    <div class="grid-item" data-datesort="1/1/1975">
        <figure>
            <a href="~/images/Wall/1975Wall.jpg" title="Class of 1975"><img class="thumbnail-horizontal" src="~/images/Thumbnails/1975Thumb.jpg" /></a>
            <figcaption>Class of 1975</figcaption>
        </figure>
    </div>

</div>

<div id="imagemodal" class="modal fade">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <img id="classimg" class="img-fluid" src="" alt="" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>              
            </div>
        </div>
    </div>
</div>
@section scripts {
   
<environment names="Development">
    
    <script src="~/lib/isotope/dist/isotope.pkgd.js"></script>
</environment>

<environment names="Staging,Production">    
    <script src="https://unpkg.com/isotope-layout@3.0/dist/isotope.pkgd.min.js"></script>
</environment>
<script src="~/lib/isotope-fit-columns/fit-columns.js"></script>

    <script>        
        $(function () {            
            var $grid = $('.grid').isotope({
                // options...
                itemSelector: '.grid-item',               
                layoutMode: 'masonry',
                masonry: {
                    columnWidth: 150, //LCD of 300 and 450
                    gutter: 16
                },
                getSortData: {
                    date: function (el) {
                        var strdate = $(el).data("datesort");
                        return new Date(strdate);
                    }
                }
            });

            $(".filterbtn").click(function () {                
                $(this).toggleClass("active");


                if ($(this).hasClass("active")) {
                    var lowYearFilter = $(this).data("low-year-filter");
                    lowYearFilter = parseInt(lowYearFilter);

                    var highYearFilter = $(this).data("high-year-filter");
                    highYearFilter = parseInt(highYearFilter);

                    console.log(lowYearFilter, highYearFilter);

                    $grid.isotope({
                        filter: function () {
                            var datefilter = $(this).data("datesort"); //note this changes scope
                            var dates = new Date(datefilter);                           
                            var year = dates.getFullYear();                          
                            
                            if(lowYearFilter > 0) {
                                if (highYearFilter > 0) {
                                    return (year >= lowYearFilter && year < highYearFilter);
                                }
                                return (year >= lowYearFilter);
                            }
                            return '*';
                        }
                    });
                } else {
                    $grid.isotope({ filter: '*' });
                }
            });

            $("#datesortbtn").click(function () {
                $grid.isotope({ sortBy: 'date' });                
            });

            $("#randomizebtn").click(function () {
                $(this).removeClass('active'); //we don't want the button press state to stick. 

                $grid.isotope('shuffle');               
            });


            //On a picture click 
            $(".grid-item figure a").click(function (e) {               
                e.preventDefault();
                var href = $(this).attr("href");
                var title = $(this).attr("title");
               
                $("#imagemodal").find(".modal-title").html(title);
                $("#imagemodal").find("#classimg").attr("src", href).attr("alt", "Alt image");
                $("#imagemodal").modal('show');
            });
        });
    </script>
}
