/* http://tympanus.net/codrops/2013/04/17/slide-and-push-menus/ */
#right-slide-menu {
    background: #47a3da;
	position: fixed;
    right: -240px;
}

#right-slide-menu.opened {
    right: 0;
}

#right-slide-menu h3 {
    color: #afdefa;
	font-size: 1.9em;
	padding: 20px;
	margin: 0;
	font-weight: 300;
	background: #0d77b6;
}

#right-slide-menu ul li a {
	display: block;
	color: #fff;
	font-size: 1.1em;
	font-weight: 300;
}

#right-slide-menu ul li a:hover {
    background: #435323;
}

#right-slide-menu ul li a:active {
	background: #afdefa;
	color: #47a3da;
}

#right-slide-menu.vertical-menu {
    width: 240px;
	height: 100%;
	top: 0;
	z-index: 1000;
}

#right-slide-menu.vertical-menu ul li a {
    border-bottom: 1px solid #258ecd;
	padding: 1em;
}

/* main nav */

#menu-logo {
    padding:0.5em; 
    background: #fff;
    border-radius:0.25em;
}

.menu-action-link {
    height: 170px;
    line-height: 170px;
    width: 170px;
    border-radius: 0.25em;
    display: inline-block;
    vertical-align: middle;
    background-color: #626262;    
    text-align: center;
    padding: 0 !important;        
}

